@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
    .btn{
        @apply flex items-center justify-center w-auto px-8 py-4 text-base font-bold  text-white bg-indigo-600 rounded-md  hover:bg-indigo-500 
    }
    .btn-outline{
        @apply flex items-center justify-center w-auto px-8 py-4 text-base font-bold  text-white bg-indigo-600 rounded-md  hover:bg-indigo-500 
    }
    .pc{
        @apply hidden md:flex
    }
    .mobile{
        @apply md:hidden flex
    }
}